# Katalon Studio
bin
Libs
Include/scripts/groovy/*
Include/scripts/jsr223/*
Reports/
Temp/
settings/internal/com.kms.katalon.core.webui.keyword.builtin.WebUiBuiltInKeywords.properties
.settings
.classpath
.project
.metadata
bin/
*.log
*.swp
*.bak
*.cache
*.class
*.iml
*.ipr
*.iws
*.DS_Store
*.idea/
.idea
*/target/
*.tmp
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.sublime-project
*.sublime-workspace
*.launch
*.iml
*.ipr
*.iws
*.DS_Store
.sass-cache
*.gem
*.rbc
*.sass
*.scss
*.class
*.war
*.zip
*.jar
/target/
.cache/

.gradle

# Files that are coming from the child .gitignore file
Reports
	
output
!output/.gitkeep
build

